<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="32000">
		<setting id="separator" type="lsep" label="32010" />
		<setting id="enabled_1" type="bool" label="32005" default="true" />
		<setting id="hostOrIp_1" type="text" label="32002" default="My Server 1" enable="eq(-1,true)" />
		<setting id="macAddress_1" type="text" label="32001" default="FF:FF:FF:FF:FF:FF" enable="eq(-2,true)" />
		<setting id="separator" type="lsep" label="32011" />
		<setting id="enabled_2" type="bool" label="32005" default="false" />
		<setting id="hostOrIp_2" type="text" label="32002" default="My Server 2" enable="eq(-1,true)" />
		<setting id="macAddress_2" type="text" label="32001" default="FF:FF:FF:FF:FF:FF" enable="eq(-2,true)" />
		<setting id="separator" type="lsep" label="32012" />
		<setting id="enabled_3" type="bool" label="32005" default="false" />
		<setting id="hostOrIp_3" type="text" label="32002" default="My Server 3" enable="eq(-1,true)" />
		<setting id="macAddress_3" type="text" label="32001" default="FF:FF:FF:FF:FF:FF" enable="eq(-2,true)" />
		<setting id="separator" type="lsep" label="32013" />
		<setting id="enabled_4" type="bool" label="32005" default="false" />
		<setting id="hostOrIp_4" type="text" label="32002" default="My Server 4" enable="eq(-1,true)" />
		<setting id="macAddress_4" type="text" label="32001" default="FF:FF:FF:FF:FF:FF" enable="eq(-2,true)" />
	</category>
	<category label="32100">
		<setting id="separator" type="lsep" label="32101"/>
		<setting type="sep"/>
		<setting id="separator" type="lsep" label="32110"/>
		<setting id="autostart" type="bool" label="32111"  default="false" />
		<setting id="wolDelayOnLaunch" type="labelenum" label="32112" lvalues="32150|32151|32152|32153|32154" default="32150" enable="eq(-1,true)" />
		<setting type="sep"/>
		<setting id="separator" type="lsep" label="32120"/>
		<setting id="wolAfterStandby" type="bool" label="32121" default="false" enable="eq(-4,true)" />
		<setting id="wolDelayAfterStandby" type="labelenum" label="32122" lvalues="32150|32151|32152|32153|32154" default="32150" enable="eq(-1,true)" />
		<setting type="sep"/>
		<setting id="separator" type="lsep" label="32200"/>
		<setting id="enableLaunchNotifies" type="bool" label="32201" default="true" />
		<setting id="enablePingCounterNotifies" type="bool" label="32202" default="true" />
		<setting id="enableHostupNotifies" type="bool" label="32203" default="true" />
	</category>
	<category label="32300">
		<setting id="separator" type="lsep" label="32310"/>
		<setting id="pingTimeout" type="labelenum" label="32311" lvalues="32152|32154|32156|32157|32159|32160|32161|32162|32163" default="32156" enable="eq(2,false)" />
		<setting id="delayHostupNotifies" type="labelenum" label="32134" lvalues="32150|32151|32152|32153|32154|32155|32156|32158|32160" default="32152" enable="eq(1,false)" />
		<setting id="disablePingHostupCheck" type="bool" label="32312" default="false" />
		<setting id="hostupWaitTime" type="labelenum" label="32313" lvalues="32152|32154|32156|32157|32159|32160|32161|32162|32163" default="32156" enable="eq(-1,true)" />
		<setting type="sep"/>
		<setting id="separator" type="lsep" label="32130" />
		<setting id="updateVideoLibraryAfterWol" type="bool" label="32131" default="false" />
		<setting id="updateMusicLibraryAfterWol" type="bool" label="32132" default="false" />
		<setting id="libraryUpdatesDelay" type="labelenum" label="32133" lvalues="32150|32152|32154|32156|32160|32161" default="32152" />
	</category>
</settings>
